:root{
  --primary-text-color: #212121;
  --secondary-text-color:#757575;
  --accent-color: #2196F3;
  --white-color: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Roboto';
  color: var(--secondary-text-color);
  }
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.text-list{
  text-decoration:none;
  
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}


/*--------- header--------- */
.page-header{
  
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color:var(--accent-color)
}
.logo-web {
  color: var(--primary-text-color);}



/* -------------- site-nav ---------------- */
.site-nav{
  display: flex;
}
.site-nav .link.current{
  color: var(--accent-color);
}
.site-nav .item + .item{
margin-left: 50px;  
}

.site-nav .link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em; 
}
.site-nav .link:hover,
.site-nav .link:focus
{
color: var(--accent-color);}

/* ---contacts------ */

.icon-header{
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  fill: currentColor;
}


.contact-item{
  display: flex;
  margin-left: auto;
  
}

.contact-item .item + .item{
  margin-left: 50px;
}


.link-cont{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contact-item
.link-cont:hover {
  color: var(--accent-color);}

.contact-item
.link-cont:focus{
  color: var(--accent-color);
  fill: var(accent-color);
}

/* ------------------Hero----------------- */

.hero-btn{
  font-family:inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;    
}
.hero-section{
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color:rgba(47, 48, 58, 1);
  background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../imeges/header\ pictures\ optimize.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.hero-title{
  text-align: center;
  margin:0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 44px;
  box-sizing: border-box;
}

/* -------------------feautures-------------- */
.features-icon{
margin-top: 25px;}

.icons-bg{
  width: 270px;
  height: 120px;
  justify-content: center;
  text-align: center;
  background-color:#F5F4FA ;
  margin-bottom: 30px;
 
}

.section-features{
  padding-top: 94px;
}

.features-list{
  display: flex;
}
.features-list.item {
  margin-right: 30px;}

.item-features:not(:last-child){
  margin-right: 30px;
}

.item-features{
  width: 270px;

}



.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
    
}
.features-descriotion {
 
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* чем мы занимаэмся */
.works-section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-second-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
  margin-bottom: 50px;

}
.sec-section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
  margin-bottom: 50px;

}
.team-section{
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
  margin-bottom: 50px;
  
}
.photo-list{
  display: flex;
  text-align: center;
}
.photo-elements{
  margin-right: 30px;
}
.photo-elements:last-child{
  margin: 0px;
 
}


/* Наша команда */

.bg-section{
  background-color: #fff;
  
}

.names-team{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-list{
  display: flex;
}
.team-elements{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-elements:not(:last-child){
  margin-right: 30px;}

.position-team{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--secondary-text-color);
  margin-bottom: 16px;
}
.names-content{
  padding-top: 30px;
  padding-bottom: 30px;
}


.team-soc{ 
  display: flex;
  justify-content: center;
  text-align: center;
}

.team-soc-item + .team-soc-item{
  margin-left: 10px;
}

.team-soc-link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.team-soc-icon{
  fill: #AFB1B8;
}

.team-soc-link:hover{
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon{
  fill:#ffffff
}
.team-soc-link:focus .team-soc-icon{
  fill: var(--white-color);
}
.team-soc-link:focus{
  background-color: #2196F3;
}


/*-------- Постійні  клієнти ------*/

.our-clients-section{
  padding: 94px 0;}

.client-list{
  display: flex;
  justify-content: center;
  text-align: center;}

  .clients-icon:hover{
    fill: var(--accent-color);
  }
  .clients-link:hover{
    fill: var(--accent-color);
     border: 1px solid #2196F3;

  }
  .clients-icon:focus{
   fill: var(--accent-color);
}
.clients-link:focus{
    fill: var(--accent-color);
     border: 1px solid #2196F3;}


.clients-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;  
  height: 92px;
   border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
}
.clients-link {
   border: 1px solid #AFB1B8;
  fill:rgba(175, 177, 184, 1)
;
}

.clients-item + .clients-item{
  margin-left: 30px;
}
.client-link:hover{
  color: var(--accent-color);
}

.hero-second-title-3{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-text-color);
  margin-bottom: 50px;
}


/*--------------------- footer -------------------*/

.studio-section-footer{
  margin-right: 70px;
}
/* start */


.footer-soc{ 
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.footer-soc-item + .footer-soc-item{
  margin-left: 10px;
}

.footer-soc-link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgba(67, 68, 77, 1);
  
}
.footer-soc-icon{
  fill: #ffffff
}
.join-title{
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  fill:rgba(175, 177, 184, 1);
  
  
}

.footer-soc-link:hover{
  background-color: var(--accent-color);
}
.footer-soc-link:hover .footer-soc-icon{
fill:#ffffff
}

.footer-soc-link:focus{
  background-color: var(--accent-color);
}
.footer-soc-link:focus .footer-soc-icon{
fill:#ffffff
}


/* start */
.footer{
  background: #2F303A;
  padding: 60px 0;
}
.logo-footer{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color:var(--accent-color)
}


.logo-studio{
  color: var(--white-color);
  box-sizing: border-box;
  margin-top: 60px;
}
.addres-global{
  font-style: normal;
  margin-top: 20px;
}
.address-item{
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
} 
.ft-conntacts{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-elment:last-child{
  margin-top: 9px;
}

.footer-cont{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
  align-items: baseline;
}
/*--------portfolio ---------*/
.port-hero{
  background-color: #ffffff;
}

.portfolio-section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.project{
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-title{
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.nav-btn{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  box-sizing: border-box;
  transition: color 250ms linear;
}

.nav-btn:hover{
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.nav-btn:focus{
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* training */

.header-container{
  display: flex;
  align-items: center;
  } 

.flex-navigation{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.fl-nav-item{
  margin-right: 8px;
}
.fl-nav-item:last-child{margin: 0px;}

/* ----pictures---- */
.img{
  display: block;
    max-width: 100%;
    height: auto;
}



.projects-item {
  margin:0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.test-container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
 
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
 
}
.flex-element:hover{
box-shadow: 
0px 1px 1px rgba(0, 0, 0, 0.12),
 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);  
}

.flex-element:focus{
box-shadow: 
0px 1px 1px rgba(0, 0, 0, 0.12),
 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);  
}

.flex-element{
  width: calc(100% / 3 -30px);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-sizing: border-box;  
  position: relative;
}

.cards-info-text{
  position:absolute;
  top: 0;
  background-color:rgba(33, 150, 243, 0.9);;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding:  64px 24px 64px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  
}
.text-wrap{
  position:relative;
  overflow: hidden;
}

.flex-element:hover .cards-info-text{
  transform: translateY(0%);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 3){
  margin-bottom: 0;
}
/* -----modal-window------ */
.backdrop{
  width: 100%;height: 100%;
position: fixed;
top: 0;
background: rgba(0, 0, 0, 0.2);
}
.modal{
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
.modal-close-bt{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30;
  height: 30;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
}
.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}